In [12]:
import pandas as pd
import csv

In [13]:
%env INSTANCE = mysql-final-project

env: INSTANCE=mysql-final-project

In [15]:
!mysql < /home/jupyter/create_table.sql

## Running tests on 5000 Batch Size

In [18]:
%%timeit
import mysql.connector

connection = mysql.connector.connect(
  host="10.128.0.7",
  user="root",
  password="codesnroses",
  database="load_testing",
  autocommit=False
)

print(connection)

sql = "INSERT INTO Person (first_name, last_name, company_name, address, city, county, state, zip, phone1, phone2, email, web)\
	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
#rec = ("James","Butt","Benton, John B Jr","6649 N Blue Gum St",\
#	  "New Orleans","Orleans","LA","70116","504-621-8927","504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com")
cursor = connection.cursor()
numRecords = 0
filename = "us-1000000.csv"
# small batch 
batch_size = 5000
records = []
totalNumRecords = 0

with open(filename, "r") as csvfile:
    datareader = csv.reader(csvfile)
    next(datareader) #skip first row of column headings
    for row in datareader:
        
        try:
            records.append(row)
            numRecords += 1
            if numRecords == batch_size:
                ## Change this to take in batch inserts
                cursor.executemany(sql, records)
                connection.commit()
                totalNumRecords += numRecords
                numRecords = 0
                records = []
                print(totalNumRecords, " Number Record inserted successfully into Person table")

        except mysql.connector.Error as error:
            print("Failed to insert record into Person table {}".format(error))

        finally:
            if connection.is_connected() and totalNumRecords == 1000000:
                connection.close()
                print("MySQL connection is closed")
                !mysql load_testing -e "select count(*) from Person"

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585d0bd0>
5000  Number Record inserted successfully into Person table
10000  Number Record inserted successfully into Person table
15000  Number Record inserted successfully into Person table
20000  Number Record inserted successfully into Person table
25000  Number Record inserted successfully into Person table
30000  Number Record inserted successfully into Person table
35000  Number Record inserted successfully into Person table
40000  Number Record inserted successfully into Person table
45000  Number Record inserted successfully into Person table
50000  Number Record inserted successfully into Person table
55000  Number Record inserted successfully into Person table
60000  Number Record inserted successfully into Person table
65000  Number Record inserted successfully into Person table
70000  Number Record inserted successfully into Person table
75000  Number Record inserted successfully into Person table
80000  Number Record inserted successfully into Person table
85000  Number Record inserted successfully into Person table
90000  Number Record inserted successfully into Person table
95000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
105000  Number Record inserted successfully into Person table
110000  Number Record inserted successfully into Person table
115000  Number Record inserted successfully into Person table
120000  Number Record inserted successfully into Person table
125000  Number Record inserted successfully into Person table
130000  Number Record inserted successfully into Person table
135000  Number Record inserted successfully into Person table
140000  Number Record inserted successfully into Person table
145000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
155000  Number Record inserted successfully into Person table
160000  Number Record inserted successfully into Person table
165000  Number Record inserted successfully into Person table
170000  Number Record inserted successfully into Person table
175000  Number Record inserted successfully into Person table
180000  Number Record inserted successfully into Person table
185000  Number Record inserted successfully into Person table
190000  Number Record inserted successfully into Person table
195000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
205000  Number Record inserted successfully into Person table
210000  Number Record inserted successfully into Person table
215000  Number Record inserted successfully into Person table
220000  Number Record inserted successfully into Person table
225000  Number Record inserted successfully into Person table
230000  Number Record inserted successfully into Person table
235000  Number Record inserted successfully into Person table
240000  Number Record inserted successfully into Person table
245000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
255000  Number Record inserted successfully into Person table
260000  Number Record inserted successfully into Person table
265000  Number Record inserted successfully into Person table
270000  Number Record inserted successfully into Person table
275000  Number Record inserted successfully into Person table
280000  Number Record inserted successfully into Person table
285000  Number Record inserted successfully into Person table
290000  Number Record inserted successfully into Person table
295000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
305000  Number Record inserted successfully into Person table
310000  Number Record inserted successfully into Person table
315000  Number Record inserted successfully into Person table
320000  Number Record inserted successfully into Person table
325000  Number Record inserted successfully into Person table
330000  Number Record inserted successfully into Person table
335000  Number Record inserted successfully into Person table
340000  Number Record inserted successfully into Person table
345000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
355000  Number Record inserted successfully into Person table
360000  Number Record inserted successfully into Person table
365000  Number Record inserted successfully into Person table
370000  Number Record inserted successfully into Person table
375000  Number Record inserted successfully into Person table
380000  Number Record inserted successfully into Person table
385000  Number Record inserted successfully into Person table
390000  Number Record inserted successfully into Person table
395000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
405000  Number Record inserted successfully into Person table
410000  Number Record inserted successfully into Person table
415000  Number Record inserted successfully into Person table
420000  Number Record inserted successfully into Person table
425000  Number Record inserted successfully into Person table
430000  Number Record inserted successfully into Person table
435000  Number Record inserted successfully into Person table
440000  Number Record inserted successfully into Person table
445000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
455000  Number Record inserted successfully into Person table
460000  Number Record inserted successfully into Person table
465000  Number Record inserted successfully into Person table
470000  Number Record inserted successfully into Person table
475000  Number Record inserted successfully into Person table
480000  Number Record inserted successfully into Person table
485000  Number Record inserted successfully into Person table
490000  Number Record inserted successfully into Person table
495000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
505000  Number Record inserted successfully into Person table
510000  Number Record inserted successfully into Person table
515000  Number Record inserted successfully into Person table
520000  Number Record inserted successfully into Person table
525000  Number Record inserted successfully into Person table
530000  Number Record inserted successfully into Person table
535000  Number Record inserted successfully into Person table
540000  Number Record inserted successfully into Person table
545000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
555000  Number Record inserted successfully into Person table
560000  Number Record inserted successfully into Person table
565000  Number Record inserted successfully into Person table
570000  Number Record inserted successfully into Person table
575000  Number Record inserted successfully into Person table
580000  Number Record inserted successfully into Person table
585000  Number Record inserted successfully into Person table
590000  Number Record inserted successfully into Person table
595000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
605000  Number Record inserted successfully into Person table
610000  Number Record inserted successfully into Person table
615000  Number Record inserted successfully into Person table
620000  Number Record inserted successfully into Person table
625000  Number Record inserted successfully into Person table
630000  Number Record inserted successfully into Person table
635000  Number Record inserted successfully into Person table
640000  Number Record inserted successfully into Person table
645000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
655000  Number Record inserted successfully into Person table
660000  Number Record inserted successfully into Person table
665000  Number Record inserted successfully into Person table
670000  Number Record inserted successfully into Person table
675000  Number Record inserted successfully into Person table
680000  Number Record inserted successfully into Person table
685000  Number Record inserted successfully into Person table
690000  Number Record inserted successfully into Person table
695000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
705000  Number Record inserted successfully into Person table
710000  Number Record inserted successfully into Person table
715000  Number Record inserted successfully into Person table
720000  Number Record inserted successfully into Person table
725000  Number Record inserted successfully into Person table
730000  Number Record inserted successfully into Person table
735000  Number Record inserted successfully into Person table
740000  Number Record inserted successfully into Person table
745000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
755000  Number Record inserted successfully into Person table
760000  Number Record inserted successfully into Person table
765000  Number Record inserted successfully into Person table
770000  Number Record inserted successfully into Person table
775000  Number Record inserted successfully into Person table
780000  Number Record inserted successfully into Person table
785000  Number Record inserted successfully into Person table
790000  Number Record inserted successfully into Person table
795000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
805000  Number Record inserted successfully into Person table
810000  Number Record inserted successfully into Person table
815000  Number Record inserted successfully into Person table
820000  Number Record inserted successfully into Person table
825000  Number Record inserted successfully into Person table
830000  Number Record inserted successfully into Person table
835000  Number Record inserted successfully into Person table
840000  Number Record inserted successfully into Person table
845000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
855000  Number Record inserted successfully into Person table
860000  Number Record inserted successfully into Person table
865000  Number Record inserted successfully into Person table
870000  Number Record inserted successfully into Person table
875000  Number Record inserted successfully into Person table
880000  Number Record inserted successfully into Person table
885000  Number Record inserted successfully into Person table
890000  Number Record inserted successfully into Person table
895000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
905000  Number Record inserted successfully into Person table
910000  Number Record inserted successfully into Person table
915000  Number Record inserted successfully into Person table
920000  Number Record inserted successfully into Person table
925000  Number Record inserted successfully into Person table
930000  Number Record inserted successfully into Person table
935000  Number Record inserted successfully into Person table
940000  Number Record inserted successfully into Person table
945000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
955000  Number Record inserted successfully into Person table
960000  Number Record inserted successfully into Person table
965000  Number Record inserted successfully into Person table
970000  Number Record inserted successfully into Person table
975000  Number Record inserted successfully into Person table
980000  Number Record inserted successfully into Person table
985000  Number Record inserted successfully into Person table
990000  Number Record inserted successfully into Person table
995000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  1000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe062435fd0>
5000  Number Record inserted successfully into Person table
10000  Number Record inserted successfully into Person table
15000  Number Record inserted successfully into Person table
20000  Number Record inserted successfully into Person table
25000  Number Record inserted successfully into Person table
30000  Number Record inserted successfully into Person table
35000  Number Record inserted successfully into Person table
40000  Number Record inserted successfully into Person table
45000  Number Record inserted successfully into Person table
50000  Number Record inserted successfully into Person table
55000  Number Record inserted successfully into Person table
60000  Number Record inserted successfully into Person table
65000  Number Record inserted successfully into Person table
70000  Number Record inserted successfully into Person table
75000  Number Record inserted successfully into Person table
80000  Number Record inserted successfully into Person table
85000  Number Record inserted successfully into Person table
90000  Number Record inserted successfully into Person table
95000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
105000  Number Record inserted successfully into Person table
110000  Number Record inserted successfully into Person table
115000  Number Record inserted successfully into Person table
120000  Number Record inserted successfully into Person table
125000  Number Record inserted successfully into Person table
130000  Number Record inserted successfully into Person table
135000  Number Record inserted successfully into Person table
140000  Number Record inserted successfully into Person table
145000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
155000  Number Record inserted successfully into Person table
160000  Number Record inserted successfully into Person table
165000  Number Record inserted successfully into Person table
170000  Number Record inserted successfully into Person table
175000  Number Record inserted successfully into Person table
180000  Number Record inserted successfully into Person table
185000  Number Record inserted successfully into Person table
190000  Number Record inserted successfully into Person table
195000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
205000  Number Record inserted successfully into Person table
210000  Number Record inserted successfully into Person table
215000  Number Record inserted successfully into Person table
220000  Number Record inserted successfully into Person table
225000  Number Record inserted successfully into Person table
230000  Number Record inserted successfully into Person table
235000  Number Record inserted successfully into Person table
240000  Number Record inserted successfully into Person table
245000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
255000  Number Record inserted successfully into Person table
260000  Number Record inserted successfully into Person table
265000  Number Record inserted successfully into Person table
270000  Number Record inserted successfully into Person table
275000  Number Record inserted successfully into Person table
280000  Number Record inserted successfully into Person table
285000  Number Record inserted successfully into Person table
290000  Number Record inserted successfully into Person table
295000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
305000  Number Record inserted successfully into Person table
310000  Number Record inserted successfully into Person table
315000  Number Record inserted successfully into Person table
320000  Number Record inserted successfully into Person table
325000  Number Record inserted successfully into Person table
330000  Number Record inserted successfully into Person table
335000  Number Record inserted successfully into Person table
340000  Number Record inserted successfully into Person table
345000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
355000  Number Record inserted successfully into Person table
360000  Number Record inserted successfully into Person table
365000  Number Record inserted successfully into Person table
370000  Number Record inserted successfully into Person table
375000  Number Record inserted successfully into Person table
380000  Number Record inserted successfully into Person table
385000  Number Record inserted successfully into Person table
390000  Number Record inserted successfully into Person table
395000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
405000  Number Record inserted successfully into Person table
410000  Number Record inserted successfully into Person table
415000  Number Record inserted successfully into Person table
420000  Number Record inserted successfully into Person table
425000  Number Record inserted successfully into Person table
430000  Number Record inserted successfully into Person table
435000  Number Record inserted successfully into Person table
440000  Number Record inserted successfully into Person table
445000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
455000  Number Record inserted successfully into Person table
460000  Number Record inserted successfully into Person table
465000  Number Record inserted successfully into Person table
470000  Number Record inserted successfully into Person table
475000  Number Record inserted successfully into Person table
480000  Number Record inserted successfully into Person table
485000  Number Record inserted successfully into Person table
490000  Number Record inserted successfully into Person table
495000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
505000  Number Record inserted successfully into Person table
510000  Number Record inserted successfully into Person table
515000  Number Record inserted successfully into Person table
520000  Number Record inserted successfully into Person table
525000  Number Record inserted successfully into Person table
530000  Number Record inserted successfully into Person table
535000  Number Record inserted successfully into Person table
540000  Number Record inserted successfully into Person table
545000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
555000  Number Record inserted successfully into Person table
560000  Number Record inserted successfully into Person table
565000  Number Record inserted successfully into Person table
570000  Number Record inserted successfully into Person table
575000  Number Record inserted successfully into Person table
580000  Number Record inserted successfully into Person table
585000  Number Record inserted successfully into Person table
590000  Number Record inserted successfully into Person table
595000  Number Record inserted successfully into Person table

In [19]:
!mysql < /home/jupyter/create_table.sql

## Running tests on 50000 Batch Size

In [21]:
%%timeit
import mysql.connector

connection = mysql.connector.connect(
  host="10.128.0.7",
  user="root",
  password="codesnroses",
  database="load_testing",
  autocommit=False
)

print(connection)

sql = "INSERT INTO Person (first_name, last_name, company_name, address, city, county, state, zip, phone1, phone2, email, web)\
	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
#rec = ("James","Butt","Benton, John B Jr","6649 N Blue Gum St",\
#	  "New Orleans","Orleans","LA","70116","504-621-8927","504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com")
cursor = connection.cursor()
numRecords = 0
filename = "us-1000000.csv"
# medium batch 
batch_size = 50000
records = []
totalNumRecords = 0

with open(filename, "r") as csvfile:
    datareader = csv.reader(csvfile)
    next(datareader) #skip first row of column headings
    for row in datareader:
        
        try:
            records.append(row)
            numRecords += 1
            if numRecords == batch_size:
                ## Change this to take in batch inserts
                cursor.executemany(sql, records)
                connection.commit()
                totalNumRecords += numRecords
                numRecords = 0
                records = []
                print(totalNumRecords, " Number Record inserted successfully into Person table")

        except mysql.connector.Error as error:
            print("Failed to insert record into Person table {}".format(error))

        finally:
            if connection.is_connected() and totalNumRecords == 1000000:
                connection.close()
                print("MySQL connection is closed")
                !mysql load_testing -e "select count(*) from Person"

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585de810>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  1000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585de810>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  2000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585d0d50>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  3000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe057b58c90>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  4000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585d0210>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  5000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585d0210>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  6000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585dec10>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  7000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe062c6d0d0>
50000  Number Record inserted successfully into Person table
100000  Number Record inserted successfully into Person table
150000  Number Record inserted successfully into Person table
200000  Number Record inserted successfully into Person table
250000  Number Record inserted successfully into Person table
300000  Number Record inserted successfully into Person table
350000  Number Record inserted successfully into Person table
400000  Number Record inserted successfully into Person table
450000  Number Record inserted successfully into Person table
500000  Number Record inserted successfully into Person table
550000  Number Record inserted successfully into Person table
600000  Number Record inserted successfully into Person table
650000  Number Record inserted successfully into Person table
700000  Number Record inserted successfully into Person table
750000  Number Record inserted successfully into Person table
800000  Number Record inserted successfully into Person table
850000  Number Record inserted successfully into Person table
900000  Number Record inserted successfully into Person table
950000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  8000000 |
+----------+
2min 35s  6.12 s per loop (mean  std. dev. of 7 runs, 1 loop each)

In [25]:
!mysql < /home/jupyter/create_table.sql

# Running tests on 500,000 Batch Size

In [24]:
%%timeit
import mysql.connector

connection = mysql.connector.connect(
  host="10.128.0.7",
  user="root",
  password="codesnroses",
  database="load_testing",
  autocommit=False
)

print(connection)

sql = "INSERT INTO Person (first_name, last_name, company_name, address, city, county, state, zip, phone1, phone2, email, web)\
	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
#rec = ("James","Butt","Benton, John B Jr","6649 N Blue Gum St",\
#	  "New Orleans","Orleans","LA","70116","504-621-8927","504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com")
cursor = connection.cursor()
numRecords = 0
filename = "us-1000000.csv"
# large batch 
batch_size = 500000
records = []
totalNumRecords = 0

with open(filename, "r") as csvfile:
    datareader = csv.reader(csvfile)
    next(datareader) #skip first row of column headings
    for row in datareader:
        
        try:
            records.append(row)
            numRecords += 1
            if numRecords == batch_size:
                ## Change this to take in batch inserts
                cursor.executemany(sql, records)
                connection.commit()
                totalNumRecords += numRecords
                numRecords = 0
                records = []
                print(totalNumRecords, " Number Record inserted successfully into Person table")

        except mysql.connector.Error as error:
            print("Failed to insert record into Person table {}".format(error))

        finally:
            if connection.is_connected() and totalNumRecords == 1000000:
                connection.close()
                print("MySQL connection is closed")
                !mysql load_testing -e "select count(*) from Person"

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585de590>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  1000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe058610090>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  2000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe058618c90>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  3000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0498cd2d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  4000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0586100d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  5000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe058282510>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  6000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe04994f250>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  7000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe058610090>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  8000000 |
+----------+
2min 34s  5.99 s per loop (mean  std. dev. of 7 runs, 1 loop each)

## Running tests on 500,000 batch size with machine with 30 CPUs and 120GB of RAM

In [26]:
!mysql < /home/jupyter/create_table.sql

In [27]:
%%timeit
import mysql.connector

connection = mysql.connector.connect(
  host="10.128.0.7",
  user="root",
  password="codesnroses",
  database="load_testing",
  autocommit=False
)

print(connection)

sql = "INSERT INTO Person (first_name, last_name, company_name, address, city, county, state, zip, phone1, phone2, email, web)\
	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
#rec = ("James","Butt","Benton, John B Jr","6649 N Blue Gum St",\
#	  "New Orleans","Orleans","LA","70116","504-621-8927","504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com")
cursor = connection.cursor()
numRecords = 0
filename = "us-1000000.csv"
# large batch 
batch_size = 500000
records = []
totalNumRecords = 0

with open(filename, "r") as csvfile:
    datareader = csv.reader(csvfile)
    next(datareader) #skip first row of column headings
    for row in datareader:
        
        try:
            records.append(row)
            numRecords += 1
            if numRecords == batch_size:
                ## Change this to take in batch inserts
                cursor.executemany(sql, records)
                connection.commit()
                totalNumRecords += numRecords
                numRecords = 0
                records = []
                print(totalNumRecords, " Number Record inserted successfully into Person table")

        except mysql.connector.Error as error:
            print("Failed to insert record into Person table {}".format(error))

        finally:
            if connection.is_connected() and totalNumRecords == 1000000:
                connection.close()
                print("MySQL connection is closed")
                !mysql load_testing -e "select count(*) from Person"

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe057b587d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  1000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe062c845d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  2000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0495c36d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  3000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0498cd2d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  4000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0d391dc50>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  5000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe04994f490>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  6000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe057c5cf90>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  7000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe057b58350>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  8000000 |
+----------+
2min 9s  5.8 s per loop (mean  std. dev. of 7 runs, 1 loop each)

In [28]:
!mysql < /home/jupyter/create_table.sql

## Running tests on 500,000 batch size with machine on high-bandwidth server

In [29]:
%%timeit
import mysql.connector

connection = mysql.connector.connect(
  host="10.128.0.8",
  user="root",
  password="codesnroses",
  database="load_testing",
  autocommit=False
)

print(connection)

sql = "INSERT INTO Person (first_name, last_name, company_name, address, city, county, state, zip, phone1, phone2, email, web)\
	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
#rec = ("James","Butt","Benton, John B Jr","6649 N Blue Gum St",\
#	  "New Orleans","Orleans","LA","70116","504-621-8927","504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com")
cursor = connection.cursor()
numRecords = 0
filename = "us-1000000.csv"
# large batch 
batch_size = 500000
records = []
totalNumRecords = 0

with open(filename, "r") as csvfile:
    datareader = csv.reader(csvfile)
    next(datareader) #skip first row of column headings
    for row in datareader:
        
        try:
            records.append(row)
            numRecords += 1
            if numRecords == batch_size:
                ## Change this to take in batch inserts
                cursor.executemany(sql, records)
                connection.commit()
                totalNumRecords += numRecords
                numRecords = 0
                records = []
                print(totalNumRecords, " Number Record inserted successfully into Person table")

        except mysql.connector.Error as error:
            print("Failed to insert record into Person table {}".format(error))

        finally:
            if connection.is_connected() and totalNumRecords == 1000000:
                connection.close()
                print("MySQL connection is closed")
                !mysql load_testing -e "select count(*) from Person"

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0498cdad0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  1000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe05861ad50>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  2000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0585de7d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  3000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe0498d9d10>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  4000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe04995c3d0>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  5000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe062c84c50>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  6000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe062c8eb90>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  7000000 |
+----------+
<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe05861a790>
500000  Number Record inserted successfully into Person table
1000000  Number Record inserted successfully into Person table
MySQL connection is closed
+----------+
| count(*) |
+----------+
|  8000000 |
+----------+
2min 8s  3.33 s per loop (mean  std. dev. of 7 runs, 1 loop each)